[submodule "PDF2TEXT"]
	path = app/pdf2text
	url = git@github.com:Gundlack-C-C/pdf2text.git
	branch = main
[submodule "Wiki"]
	path = app/Wiki
	url = git@github.com:Gundlack-C-C/Wiki.git
	branch = develop
[submodule "NLP_Embedding"]
	path = app/NLP_Embedding
	url = git@github.com:GundlackFelixDEV/NLP_Embedding.git
	branch = main
[submodule "NLP_SKLEARN"]
	path = app/NLP_SKLEARN
	url = git@github.com:GundlackFelixDEV/Matchmaker.git
	branch = develop
