<div class="container">
  <div>
    <h3>Text Analytics - Sklearn</h3>
  </div>
  <div *ngIf="res else loading">
    <h4>Fulltext Result</h4>
    <div class="card">
      <div class="card-body">
        <app-text-analytics [analytics]="res[0]"></app-text-analytics>
      </div>
    </div>
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div>
            <h5>Sentence Results</h5> 
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div *ngFor="let item of Sentences;" class="col-6 pb-2 pr-2">
              <div class="card">
                <div class="card-body">
                  <app-text-analytics [analytics]="item"></app-text-analytics>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</div>

<ng-template #loading>
  <div>
    <span><div class="loader d-inline-block mr-1"></div>Analysing ...</span>
  </div>
</ng-template>