<div class="container-fluid">
  <div class="container mb-2">
    <h2>Text Input/Generation</h2>
    <p>Generate or Input text for the <b>N</b>atural <b>L</b>anguage <b>P</b>rocessing <b>P</b>layground</p>
  </div>
  <div class="container mb-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>{{options[mode].join(' - ')}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let item of options | keyvalue" [value]="item.key" ngbDropdownItem [routerLink]="'../' + item.key">{{item.value.join(' - ')}}</button>
      </div>
    </div>
  </div>
  <app-text-input-select [mode]="mode"></app-text-input-select>
</div>