<div class="container mb-2">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>{{options[mode].join(' - ')}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button *ngFor="let item of options | keyvalue" [value]="item.key" ngbDropdownItem (click)="MODE = item.key">{{item.value.join(' - ')}}</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'wiki'" [ngTemplateOutlet]="wikiDOM"></ng-container>
        <ng-container *ngSwitchCase="'pdf'" [ngTemplateOutlet]="pdfDOM"></ng-container>
        <ng-container *ngSwitchCase="'manual'" [ngTemplateOutlet]="manualDOM"></ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!--Definition of options-->
<ng-template #wikiDOM>
  <app-wiki (TextChanged)="onTextChanged($event)"></app-wiki>
</ng-template>

<ng-template #pdfDOM>
  <app-pdf (TextChanged)="onTextChanged($event)"></app-pdf>
</ng-template>

<ng-template #manualDOM>
  <app-text-input (TextChanged)="onTextChanged($event)"></app-text-input>
</ng-template>