<div class="container">
  <div><h3>Random Wikipedia Abstracts <button class="btn btn-primary btn-sm float-right" (click)="getRandom()">Random</button></h3>
  </div>
  <div *ngIf="text; else emptytext">
    <div class="mb-2">
      <app-text [text]="text.text"></app-text>
    </div>
    <div>
      <app-keywords [keywords]="text.keywords"></app-keywords>
    </div>
  </div>
</div>

<ng-template #emptytext>
  <div>
    <span><div class="loader d-inline-block mr-1"></div>Loading ...
    </span>
  </div>
</ng-template>

