<div class="container mb-2">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>{{options[mode].join(' - ')}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button *ngFor="let item of options | keyvalue" [value]="item.key" ngbDropdownItem (click)="MODE = item.key">{{item.value.join(' - ')}}</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'sklearn_count'" [ngTemplateOutlet]="sklearnDOM" [ngTemplateOutletContext]="{mode:'count'}"></ng-container>
        <ng-container *ngSwitchCase="'sklearn_tfidf'" [ngTemplateOutlet]="sklearnDOM" [ngTemplateOutletContext]="{mode:'tfidf'}"></ng-container>
        <ng-container *ngSwitchCase="'transformers_bert'" [ngTemplateOutlet]="transformersDOM"></ng-container>
        <ng-container *ngSwitchCase="'transformers_distillbert'" [ngTemplateOutlet]="transformersDOM"></ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!--Definition of options-->
<ng-template #sklearnDOM let-mode='mode'>
  <ng-container [ngSwitch]="mode">
    <app-form-tfidf *ngSwitchCase="'tfidf'" (ParameterChanged)="onParameterChanged($event)"></app-form-tfidf>
    <app-form-count *ngSwitchCase="'count'" (ParameterChanged)="onParameterChanged($event)"></app-form-count>
    <div *ngSwitchDefault>
      Unkown Mode {{mode}}
    </div>
  </ng-container>
</ng-template>

<ng-template #transformersDOM>
  <app-form-transformers (ParameterChanged)="onParameterChanged($event)"></app-form-transformers>
</ng-template>