<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='algo_compare.css') }}" />
</head>
<script>
    window.onload = async function () {
        console.log('Dokument geladen');
        document.forms['form-text-a'].submit()
        document.forms['form-text-b'].submit()

        setTimeout(() => {
            document.getElementById('container-a').style.display = "flex"
            document.getElementById('container-b').style.display = "flex"
            document.getElementById('loading-indicator').style.display = "none"
        }, 1000)
    }
</script>

<!--Hidden Forms to trigger POST Request of IFrames sending the text corpus to each view-->
<form id="form-text-a" target="iframe-a" action="{{url_for('text_analyse')}}" method=post enctype=multipart/form-data
    style="display: none;">
    <textarea type=text name=corpus id=corpus>{{ text }}</textarea>
    <input type="submit" value="post">
</form>
<form id="form-text-b" target="iframe-b" action="{{url_for('text_analyse')}}" method=post enctype=multipart/form-data
    style="display: none;">
    <textarea type=text name=corpus id=corpus>{{ text }}</textarea>
    <input type="submit" value="post">
</form>
<!---->

<body>
    <div class="container row">
        <div id="loading-indicator">Loading - Please Wait ...</div>
        <div id="container-a" class='column iframe-container' style="display: none;">
            <iframe name="iframe-a" src="{{url_for('text_analyse')}}" frameborder='1'></iframe>
        </div>

        <div id="container-b" class="column iframe-container" style="display: none;">
            <iframe name="iframe-b" src="{{url_for('text_analyse')}}" frameborder='1'></iframe>
        </div>
    </div>
</body>