<!doctype html>
<title>File Upload Success</title>
<h1>Your File has been uploaded!</h1>
{% if text %}
<h2>Text</h2>

<div style="white-space: pre-wrap">{{ text }}</div>

<form id="form-text" action="http://localhost{{url_for('analyse_text')}}" method=post enctype=multipart/form-data>
    <textarea type=text name=corpus id=corpus style="display: none;">{{ text }}</textarea>
    <input type="submit" value="Analysieren">
</form>

<div>Download: <a href="{{url_for('download_file', name=filename) }}">{{ filename }}</a></div>
{% endif %}