<!doctype html>
<title>Text Input</title>
<h1>Text Input</h1>

<head>
    <style>

    </style>
    <script>
        window.onload = function () {
            let algo_target = JSON.parse('{{ algorithms | tojson() }}')
            //************
            // Input Options
            //************
            let DOM_options = document.getElementById('algorithm_options')
            let algo = DOM_options.value
            let url_algo = algo_target[algo][1]
            DOM_options.onchange = function (event) {
                algo = DOM_options.value;

                let childs = Array.from(document.getElementById('input_option_container').children)

                // Hide All Sections
                childs.forEach((element) => {
                    element.style.display = "none"
                });
                // Show Selected Section
                let target = document.getElementById(`section_${algo}`)
                target.style.display = "block"

                url_algo = algo_target[algo][1]
            }
            let keywords = []
            let DOM_results = document.getElementById('keywords_results')
            document.getElementById('form_analyse').onsubmit = function(event) {
                console.log(this)
                console.log(`Call - ${algo}: ${url_algo}`)

                var xhr = new XMLHttpRequest()
                xhr.open("POST", url_algo)
                
                xhr.onload = function(event) {
                    if (this.readyState == 4 && this.status == 200) {
                        var res = JSON.parse(this.responseText);
                        keywords = res['data']
                        html = res['html']

                        DOM_results.innerHTML = html
                    } else {
                        console.error("Ouch something went wrong")
                        console.debug(event)
                    }
                }

                var formData = new FormData(document.getElementById('form_analyse'))
                xhr.send(formData)

                event.preventDefault()
            }
        }
    </script>
</head>

<div>
    <label for="corpus">Method:</label><br>

    <select name="analyze_mode" id="algorithm_options">
        {% for key, value in algorithms.items() %}
        <option value="{{key}}">{{value[0]}}</option>
        {% endfor %}
    </select>
</div>
<hr>

<form method="post" id="form_analyse">
    <div id="input_option_container">
        <div id="section_sklearn-tfidf">
            <label for="corpus">Sklearn TFIDF Parameter</label>
            <hr>
            {% include 'parameter_tfidf.html' %}
        </div>
        <div id="section_sklearn-count" style="display: none;">
            <label for="corpus">Sklearn COUNT Parameter</label>
            <hr>
            <div>Not Implemented</div>
        </div>
    </div>
    <hr>
    <div>
        <textarea type=text name=corpus id=corpus rows=12 cols=50>{{ text }}</textarea>
    </div>
    <div>
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
            Analyse
        </button>
    </div>
</form>

<hr>
<h2>Results</h2>
<div id="keywords_results">
</div>