<!doctype html>
<title>Text Input</title>
<h1>Text Input</h1>

<head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script rel="script" type="text/javascript" src="{{ url_for('static', filename='d3_bar.js') }}"></script>

    <script>
        window.onload = function () {
            let algo_target = JSON.parse('{{ algorithms | tojson() }}')
            //************
            // Input Options
            //************
            let DOM_options = document.getElementById('algorithm_options')
            let algo = DOM_options.value
            DOM_options.onchange = function (event) {
                algo = DOM_options.value;

                let childs = Array.from(document.getElementById('algo_forms').children)

                // Hide All Sections
                childs.forEach((element) => {
                    element.style.display = "none"
                });
                // Show Selected Section
                let target = document.getElementById(`form_${algo}`)
                target.style.display = "block"
            }

            function isFloat(x) { 
                regexp = new RegExp('^[+-]?([0-9]{1,})[.,]([0-9]{1,})$')
                return regexp.test(x)
            }

            function onFormSubmit(event) {
                event.preventDefault()
                url = this.action
                console.log(this)
                console.log(`Call - ${algo}: ${url}`)
              

                var inputs = this.elements
                param = {}
                
                if('ngram_range_min' in inputs && 'ngram_range_max' in inputs){
                    param['ngram_range'] = [eval(inputs.ngram_range_min.value),eval(inputs.ngram_range_max.value)]
                }

                if('use_idf' in inputs) {
                    param['use_idf'] = eval(inputs.use_idf.value)
                }

                if('smooth_idf' in inputs) {
                    param['smooth_idf'] = eval(inputs.smooth_idf.value)
                }

                if('max_df' in inputs) {
                    val = inputs.max_df.value
                    //fn = isFloat(val) ? parseFloat : parseInt;
                    //data['max_df'] = fn(val);
                    param['max_df'] = val;
                }

                if('min_df' in inputs) {
                    val = inputs.min_df.value
                    //fn = isFloat(val) ? parseFloat : parseInt;
                    //data['min_df'] = fn(val)
                    param['min_df'] = val;
                }

                if('max_feature' in inputs) {
                    param['max_feature'] =  eval(inputs.max_feature.value) > 0 ? eval(inputs.max_feature.value) : None
                }

                if('metric' in inputs) {
                    param['metric'] =  inputs.metric.value
                }

                text = inputs.corpus.value

                var xhr = new XMLHttpRequest()
                xhr.onload = function(event) {
                    if (this.readyState == 4 && this.status == 200) {
                        var res = JSON.parse(this.responseText);

                        html = res['html']
                        document.getElementById('keywords_results').innerHTML = html

                        data = res['data']
                        corpus = data[0]
                        renderchart('bar_chart_corpus', corpus[1])

                        data.forEach((item, i) => {
                            if(i > 0) {
                                renderchart(`bar_chart_${i}`, item[1])
                            }
                        });

                        document.getElementById('bar_chart_corpus')
                        event.preventDefault()
                    } else {
                        console.error("Ouch something went wrong")
                        console.error(event.currentTarget.response)
                        document.getElementById('keywords_results').innerHTML = event.currentTarget.response
                    }
                }
                xhr.open("POST", url) 
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                xhr.send(JSON.stringify({"text": text, "param": param}))
                document.getElementById('keywords_results').innerHTML = "Loading & Analysing ..."
            }

            document.getElementById('form_sklearn-tfidf').onsubmit = onFormSubmit
            document.getElementById('form_sklearn-count').onsubmit = onFormSubmit
            document.getElementById('form_transformers').onsubmit = onFormSubmit

            let text = document.getElementById('corpus').value
            if(text && text.length) {
                document.getElementById('form_sklearn-tfidf').dispatchEvent(new Event("submit"))
            }
        }
    </script>
</head>

<div>
    <label for="corpus">Method:</label><br>

    <select name="analyze_mode" id="algorithm_options">
        {% for key, value in algorithms.items() %}
        <option value="{{key}}">{{value[0]}}</option>
        {% endfor %}
    </select>
</div>
<hr>
<div id="algo_forms">
    <form method="post" id="form_sklearn-tfidf" action="{{url_for('algo_sklearn_tfidf')}}">
        <div>
            <label for="corpus">Sklearn TFIDF Parameter</label>
            <hr>
            {% include 'parameter_tfidf.html' %}
        </div>
        <hr>
        <div>
            <button type="submit" name="submit_param" value="submit_value" class="link-button">
                Get Keywords
            </button>
        </div>
    </form>
    
    <form method="post" id="form_sklearn-count" action="{{url_for('algo_sklearn_count')}}" style="display: none;">
        <div>
            <label for="corpus">Sklearn COUNT Parameter</label>
            <hr>
            {% include 'parameter_count.html' %}
        </div>
        <hr>
        <div>
            <button type="submit" name="submit_param" value="submit_value" class="link-button">
                Get Keywords
            </button>
        </div>
    </form>

    <form method="post" id="form_transformers" action="{{url_for('algo_transformers_keywords')}}" style="display: none;">
        <div>
            <label for="corpus">Transformers Parameter</label>
            <hr>
            {% include 'parameter_transformers.html' %}
        </div>
        <hr>
        <div>
            <button type="submit" name="submit_param" value="submit_value" class="link-button">
                Get Keywords
            </button>
        </div>
    </form>
</div>



<hr>
{% include 'compare_button.html' %}
<hr>
<h2>Results</h2>
<div id="keywords_results">
</div>