<div class="container-fluid">
  <div class="container mb-2">
    <h2>Text Analytics</h2>
    <p>Playground for Keywordanalytics!</p>
  </div>
    <div class="mb-2">
      <app-text-input-select [mode]="'wiki'" (ModeChanged)="onInputModeChanged($event)" (TextChanged)="onTextChanged($event)"></app-text-input-select>
    </div>
    <div *ngIf="text" class="mb-2">
      <app-algo-input-select [target]="'sklearn_count'" (TargetChanged)="onTargetChanged($event)" (ParameterChanged)="onParameterChanged($event)"></app-algo-input-select>
    </div>
    <div class="container">
      <div>
        <button class="form-control btn btn-primary btn-lg float-right" (click)="onCreateSession()">Get keywords</button>
      </div>
    </div>
    <div class="container">
      <ul>
        <li *ngFor="let id of sessionService.Sessions" >{{id}}</li>
      </ul>
    </div>
</div>
